### 1. How to add single comment in Python?

In [5]:
# This is how you add a single line comment in Python.
# i.e. by using a hash symbol (#) at the beginning of the line.

### 2. Python Strings - How to add multi-line Strings in Python?

In [11]:
"""I am trying to teach how to create multi-line strings.
You can do this by using triple quotes (\"\"\" or ''')."""

'I am trying to teach how to create multi-line strings.\nYou can do this by using triple quotes (""" or \'\'\').'

### 2.1 Python Strings - Same thing used in print()

In [13]:
print(
    """I am trying to teach how to create multi-line strings.
You can do this by using triple quotes (\"\"\" or ''')."""
)

I am trying to teach how to create multi-line strings.
You can do this by using triple quotes (""" or ''').

### 2.2 Strings can be added / concatenated

In [44]:
'Hello' + ' ' + "World!"

'Hello World!'

In [46]:
"Hello " "World!" # Implicit concatenation of string literals without using + operator.

'Hello World!'

### 2.3 Find length of String using `len()`

In [54]:
name = "John"
print(f"Length of {name} is {len(name)}") # Using f-string for formatted string literals.

Length of John is 4

### 3. Primitives and Operators

In [15]:
78

78

In [16]:
4+3

7

In [19]:
6-1

5

In [ ]:
5 * 3

15.0

### 3.1 Below is precisely known as True Division (which always returns float)

In [20]:
45 / 9 # Division will always return a float

5.0

### 3.2 Floor Division and the operator is //
#### May return float or int, depending on the operands

In [23]:
5 // 3 # Floor Division discards the fractional part

1

In [24]:
-5 // 3

-2

In [25]:
5.0 // 3.0

1.0

### 3.3 Modulo operator i.e. %

In [27]:
8 % 3 # 6 - 8

2

In [28]:
10 % 3 # 9 - 10

1

### 3.4 Exponentiation **

In [29]:
3**2

9

In [30]:
2**3

8

### 3.5 Boolean

In [31]:
not True

False

In [32]:
False

False

In [34]:
8 - True # True is treated as 1 and False as 0; funny?

7

### 3.6 bool() - Used for checking Truthiness or Falsiness of the given operator

In [ ]:
if bool(None) == False:
    print("None is Falsy")

None is Falsy

In [40]:
bool(set())

False

In [41]:
bool({})

False

In [42]:
bool([])

False

In [43]:
bool(tuple())

False

### 3.7 `is` operator is used to check both variables belong to same memory location or not

In [48]:
a = 10
b = a
a is b # True because both a and b point to same memory location

True

In [49]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l1 is l2 # False because both l1 and l2 point to different memory locations

False

### 3.8 `==` used for checking the content equality

In [50]:
l1 == l2

True

In [53]:
t1 = ('a', 'b')
t2 = ('a', 1)
t1 == t2

False

### 3.9 Ternary operator for conditionality

In [56]:
2 if True else 3

2

In [57]:
"Adeel" if 0 > 1 else "Shahzad"

'Shahzad'

### 4. List

In [58]:
li = [] # Empty list

In [59]:
li_non_empty = [1, 2, 3] # Non-empty list

In [60]:
li.append(4) # Append 4 to the end of list
li

[4]

In [62]:
li.append(5)
li.append(6)
li.append(7)
li

[4, 5, 5, 6, 7]

In [63]:
li.pop() # Removes and returns the last item

7

In [64]:
li

[4, 5, 5, 6]

In [ ]:
li[1] # Accessing element at index 1 (second element)

5

In [ ]:
li[-2] # Accessing second last element

5

### 4.1 Slice syntax for range in List

In [69]:
# Syntax for slicing a list
# list[start:stop:step]

li[1:4] # Elements from index 1 to 3 (4 is excluded)

[5, 5, 6]

In [70]:
li[0:2] # Elements from index 0 to 1 (2 is excluded)

[4, 5]

In [75]:
li[1:-2]

[5]

In [76]:
li2 = li[:] # Creates a shallow copy of the list
li2

[4, 5, 5, 6]

In [77]:
li is li2

False

In [78]:
li == li2

True

In [79]:
del li[1] # Deletes element at index 1
li

[4, 5, 6]

In [80]:
li == li2

False

In [ ]:
len(li) # Length of the list

3

### 5. Tuple - Same as list but is immutable

In [88]:
tup = (1, 2, 3) # Tuple
type(tup)

tuple

In [90]:
len(tup) # Length of the tuple

3

In [92]:
tup = tup + (4, 5, 6) # Concatenating tuples
tup

(1, 2, 3, 4, 5, 6)

In [93]:
tup[:3] # First three elements of the tuple; tuples support slicing like lists and end index is excluded

(1, 2, 3)

### 5.1 Tuple - Exercise 1: Find the existence of 4 and 5 in tuple

In [98]:
if 4 in tup and 5 in tup: # True because both 4 and 5 exists inside tuple
    print("4 and 5 both exist tuple")

4 and 5 both exist tuple

### 5.2 Tuple - Exercise 2: Find the existence of 4 and 5 as a consecutive elements in tuple

In [104]:
def find_in_tuple_as_two(ele_1, ele_2) -> bool:
    for i in range(len(tup) - 1):
        if tup[i] == ele_1 and tup[i + 1] == ele_2:
            return True
    return False

find_in_tuple_as_two(4, 5)

True

In [113]:
# for i in range(len(tup)):
#     print(tup[i])

print(tup[ : len(tup) - 1 : 2])

(1, 3, 5)

### 6. Dictionary - For storing key/value pairs

In [114]:
empty_dict = {} # Empty dictionary

In [115]:
filled_dict = {"one": 1, "two": 2, "three": 3}

### 6.1 Dictionary - A Nuance: Keys for a dictionary should be immutable objects. It means that key of a dictionary can be string, float, int and tuple.

In [ ]:
dict_1 = {[1,2,3]: "1,2,3"} # This will raise an error because list is mutable and cannot be used as a key in dictionary.

TypeError: unhashable type: 'list'

In [118]:
dict_2 = {(1,2,3): "1,2,3"} # This is valid because tuple is immutable and can be used as a key in dictionary.
dict_2

{(1, 2, 3): '1,2,3'}